/* You can add global styles to this file, and also import other style files */
@import "../node_modules/leaflet/dist/leaflet.css";

.my-div-icon {
  border-radius: 50%;
  background: white;
}

.div-map-icon-active {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-map-icon-active > .numberCircle {
  width: 4vh;
  line-height: 4vh;
  border-radius: 50%;
  text-align: center;
  font-size: 1.8vh;
  border: none;
}