.container {
    display: flex;
    background: #cccccc;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.video {
    width: 100%;
}

.c-video {
    width: 100%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
}

.c-video:hover .controls {
    transform: translateY(0%);
}

.controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(100%) translateY(-5px);
    transition: all .2s;
}

.buttons {
    padding: 10px;
}

.buttons button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.buttons button::before {
    font-family: "Font Awesome 5 Free";
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 28px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.buttons button.play:before {
    content: "\f144";
}

.buttons button.pause:before {
    content: "\f28b";
}

.red-bar {
    height: 7px;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
}

.red-accent {
    width: 0%;
    height: 7px;
    background: #e53935;
}