.elementExample {
    width         : 200px;
    height        : 200px;
    line-height   : 200px;
    color         : #FFF;
    text-transform: uppercase;
    text-align    : center;
    cursor        : pointer;
    position      : relative;
}

.elementExample_first {
    background-color: #8E44AD;
    top             : 200px;
}

.elementExample_last {
    background-color: #C0392B;
}

.elementExample_isActive {
    z-index: 1;
}