.elementExample {
    width: 200px;
    height: 200px;
    line-height: 200px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.elementExample-first {
    background-color: #6c5ce7;
}

.elementExample-first {
    background-color: #00b894;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.elementExample-first {
    background-color: #d63031;
}

.elementExample-internal {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #00ceff;
}